<!-- <app-header></app-header>
<div class = "content">
    <app-details [detailsForm] = "formControlApp.controls.appDetails"></app-details>
    <app-tabs [tabsControl] = "formControlApp.controls.tabs" [cancelToken]="cancelToken"></app-tabs>
</div>
<div class = "footer">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <button mat-button (click) = "showDetails()" class = "white" >Save</button>
        <button mat-button (click) = "submitForm()" class = "white">Submit</button>	
        <button mat-button (click) = "cancelForm()" class = "white">Cancel</button>	
    </div>
</div> -->
<router-outlet></router-outlet>
